[submodule "externals/Blindside"]
	path = externals/Blindside
	url = https://github.com/jbsf/blindside.git
[submodule "externals/Cedar"]
	path = externals/Cedar
	url = https://github.com/pivotal/cedar.git
